@inherits LayoutComponentBase


<style>
    .purple {
        background-color: #6935bd;
    }

    .bg-color-dark {
        background-color: #273753;
    }

    .bg-color-primary {
        color: white;
        background-color: #212121;
    }
    .circle-btn {
        border-radius: 50%;
    }
            
    .gbc-iframe {
        overflow: hidden;
        width: 100%;
        min-height: 50rem;
        height: 100%;
    }
</style>

<div class="page bg-color-dark">
    <NavMenu />

    <div class="content p-3 p-lg-5">
        @Body
    </div>
</div>
