.time-picker select {
  margin: 0.05rem; }

.content {
  min-height: 100vh; }

.sleep-time-clone .card .card-header {
  text-align: center;
  color: rebeccapurple; }

.sleep-time-clone .results {
  min-height: 100px; }
  .sleep-time-clone .results .or:last-of-type {
    display: none; }
