@page "/"

<div class="container text-white">
    <div class="row">
        <div class="col-3 col-lg-1">
            <img src="/images/cllogo.png" class="img-fluid" style="border-radius: 50%" />
        </div>
        <div class="col-9 col-lg-10 d-flex flex-column justify-content-center">
            <h1>Cory Lanza</h1>
        </div>
        <div class="col-12 mt-4">
            <p>Web Developer specializing in C#</p>
        </div>
    </div>
</div>

