.sleep-time-clone {
    .card {
        .card-header {
            text-align: center;
            color: rebeccapurple;
        }
    }

    .results {
        .or {
            &:last-of-type {
                display: none;
            }
        }
    }
}