@page "/spotify-callback"
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject HttpClient Http
@using Models.Spotify;

<div class="text-white">
    @Content
</div>

@code {

    private string? Content { get; set; }

    private SearchResults? Results { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Navigation.TryGetHashParameter<string>("access_token", out string? access_token)
            && Navigation.TryGetHashParameter<int>("expires_in", out int expires_in))
        {
            await JS.SetCookie("spotify-token", access_token, expires_in);
            Navigation.NavigateTo("/spotify-api-demo");
        }
        else
        {
            Content = "Auth error";
        }

        base.OnInitialized();
    }
}